@use 'variables'as *;
@use 'layout' as *;


/*choose button*/
.choose-category-button {
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  padding: $space-sm $space-md;
  border: none;
  border-radius: $card-radius;
  background-color: $color-primary;
  color: $text-color-on-dark;
  cursor: pointer;
  transition: $transition-hover;
}

.choose-category-button:hover {
  background-color: $color-accent;
  box-shadow: $shadow-hover;
}

.theme-toggle-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $space-md;
  font-size: $font-size-lg;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-text);
  transition: color 0.3s;

  &:hover {
    color: $color-accent;
  }

  &:active {
    animation: rotate 0.6s ease-in-out;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-height: $screen-phone), (max-width: $screen-phone) {
  button > span {
    display: flex;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
  }
}
