@use 'variables' as *;
@use 'layout' as *;

:host {
  display: block;
}

.app-footer {
  @include flex-layout;
  background: $footer-gradient;
}

.footer-content {
  @include layout-max-width;
  @include flex-layout(space-between);
  font-size: $font-size-sm;
}

.footer-brand {
  @include inline-center;
}

.footer-text {
  color: $text-color-on-gradient;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
}

@media (max-width: $screen-phone), (max-height: $screen-phone) {
  .footer-text {
    font-size: 0.8rem;
  }
}
