<!--todo make sure to connect it to something for defer on something-->
@defer (; prefetch on idle) {
  <section class="match-words">
    <h2>Match the Word to the Image</h2>
    @if (message()) {
      <div class="message">{{ message() }}</div>
    }

    <div class="boards">
      <!-- Words board -->
      <div class="words-board">
        @for (word of words(); track word.id; let index = $index) {
          <!--        todo
          extract to component and use a button instead-->
          <div
            class="card word-card"
            [style.--index]="index + 1"
            [class.selected]="word.id === selectedWordId()"
            [class.matched]="word.matched"
            (click)="onSelectWord(word)"
          >
            {{ word.text }}
          </div>
        }
      </div>

      <!-- Images board -->
      <div class="images-board">
        @for (image of images(); track image.id) {
          <div
            class="card image-card"
            [class.selected]="image.id === selectedImageId()"
            [class.matched]="image.matched"
            (click)="onSelectImage(image)">
            <img [ngSrc]="image.url"
                 [alt]="'Image of ' + image.text"
                 draggable="false"
                 fill
                 [priority]="$index==0"/>
          </div>
        }
      </div>
    </div>
  </section>
} @loading (minimum 250ms) {
  <div class="state-placeholder">
    <!--    todo extract-->
    <h2 [style.color]="'var(--color-primary)'">Loading game UI…</h2>
    <div class="spinner"></div>
  </div>
} @placeholder (minimum 250ms) {
  <div class="state-placeholder">
    <h2 [style.color]="'var(--color-primary)'">Loading game UI…</h2>
    <div class="spinner"></div>
  </div>
} @error {
  <div class="state-placeholder">
    <h2 [style.color]="'var(--color-primary)'">Failed to load game UI. Please try again.</h2>
  </div>
}

<ng-template>
  <div class="state-placeholder">
    <div class="spinner"></div>
    <p>Loading images…</p>
  </div>
</ng-template>
