<ng-template #loadingSpinner let-text>
  <div class="state-placeholder">
    <h2 [style.color]="'var(--color-primary)'">{{ text }}</h2>
    <div class="spinner"></div>
  </div>
</ng-template>

@defer (when gameReady()) {
  <section class="match-words"
           [class.fade-in]="gameReady()">
    <h2>Match the Word to the Image</h2>
    @if (message()) {
      <div class="message">{{ message() }}</div>
    }
    <!--      todo update to signal or something? the 3-->
    @if (currentStage() < numberOfStages && !gameOver()) {
      <h2>Stage {{ this.currentStage() + 1 }} of {{ numberOfStages }}</h2>
    }

    <!--    todo rename testid-->
<!--    todo testing-->
    @if (gameOver()) {
      <div class="boards"
           data-testid="game-grid">
        <!-- Words board -->
        <div class="words-board">
          @for (word of words(); track word.id; let index = $index) {
            <!--        todo
            extract to component and use a button instead-->
            <div
              class="card word-card"
              data-testid="word-card"
              [style.--index]="index + 1"
              [class.selected]="word.id === selectedWordId()"
              [class.matched]="word.matched"
              (click)="onSelectWord(word)"
            >
              {{ word.text }}
            </div>
          }
        </div>

        <!-- Images board -->
        <div class="images-board">
          @for (image of images(); track image.id; let i = $index) {
            <div
              class="card image-card"
              data-testid="image-card"
              [class.selected]="image.id === selectedImageId()"
              [class.matched]="image.matched"
              (click)="onSelectImage(image)">

              @if (i === 0) {
                <img [ngSrc]="image.url"
                     [alt]="'Image of ' + image.text"
                     draggable="false"
                     fill
                     priority/>
              } @else {
                <img [ngSrc]="image.url"
                     [alt]="'Image of ' + image.text"
                     draggable="false"
                     fill/>
              }
            </div>
          }

        </div>
      </div>
    } @else {
      <app-end-game-modal
        class="fade-in"
        (newGameClicked)="onNewGame()"
        (replayClicked)="onReplayGame()"
        [correctCount]="correctCount()"
        [totalCount]="totalCount()"
        data-testid="end-game-modal"/>
    }
  </section>
} @loading (minimum 250ms) {
  <ng-container
    *ngTemplateOutlet="loadingSpinner; context: { $implicit: 'Loading game UI…' }"></ng-container>
} @placeholder (minimum 250ms) {
  <ng-container
    *ngTemplateOutlet="loadingSpinner; context: { $implicit: 'Fetching items...' }"></ng-container>
} @error {
  <ng-container
    *ngTemplateOutlet="loadingSpinner; context: { $implicit: 'Failed to load game UI. Please try again.' }"></ng-container>
}
