@use 'variables' as *;

/*todo handling iframes
   after adding directive to handle the iframe-mode display logic*/
/*
.iframe-mode app-header,
.iframe-mode app-footer {
  display: none;
}

.iframe-mode .game-card {
  transform: scale(0.9);
}
 */

.content {
  flex: 1; /* <-- take all available vertical space */
}

@mixin layout-max-width {
  max-width: $max-width-wide;
  margin: 0 auto;
  padding: $space-md $space-lg;
}

@mixin flex-layout( $justify: center,$align: center) {
  display: flex;
  justify-content: $justify; /*vertical*/
  align-items: $align; /*horizontal*/
}

@mixin column-flex($flex: null) {
  display: flex;
  flex-direction: column;
  @if $flex != null {
    flex: $flex;
  }
}

@mixin inline-center {
  display: inline-flex;
  align-items: center;
}

/*Grids*/
@mixin two-column-grid($gap: $space-md, $max-width: 600px) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: $gap;
  padding: $space-lg;
  max-width: $max-width-narrow;
  margin: 0 auto;

  /* ensure children stretch to fill their cell */
  align-items: stretch;
}
