@use 'variables' as *;

@mixin theme($map) {
  @each $key, $value in $map {
    --#{$key}: #{$value};
  }
}

$theme-light: (
  color-primary: #{$color-primary},
  color-bg: #{$color-bg-card},
  color-bg-card:#{$color-bg-card},
  color-modal-background:#{$color-modal-background},
  color-bg-main: #{$color-bg-main},
  color-text: #{$color-text},
  text-color-on-gradient: #{$text-color-on-gradient},
  text-color-on-dark: #{$text-color-on-dark},
  color-accent:#{$color-accent},
  color-yellow-accent: #{$color-yellow-accent},
  /*gradient*/
  footer-gradient: #{$footer-gradient},
  yellow-accent-gradient: #{$yellow-accent-gradient},
  hero-gradient: #{$hero-gradient},
  /*error*/
  error-text-color:#{$error-text-color},
  error-background-color: #{$error-background-color},
  error-box-shadow: #{$error-box-shadow},
  /*shadows*/
  shadow-card: #{$shadow-card},
  shadow-header:#{$shadow-header},
  shadow-hover:#{$shadow-hover},
  hover-overlay: #{$hover-overlay},
);

$theme-dark: (
  /* base colors */
  color-primary: #4766b3, // softer indigo tone
  // softer blue (like Google dark mode)
  color-accent: #e46d6d, // warm but not harsh
  color-yellow-accent: #fdd663,
  /* backgrounds */
  color-bg: #2a2a2a, // primary page background (not full black)
  color-bg-main: #121212, // main container deeper shade
  color-bg-card: #2a2a2a,
  // card/panel surface
  color-modal-background: rgba(30, 30, 30, 0.95), // translucent overlay
  /* text */
  color-text: #f1f5ff,
  text-color-on-gradient: #f1f5ff,
  text-color-on-dark: #f1f5ff,
  /* gradients */
  footer-gradient: linear-gradient(90deg, #8ab4f8, #5f6368),
  yellow-accent-gradient: linear-gradient(90deg, #fdd663, #f28b82),
  hero-gradient: linear-gradient(135deg, #8ab4f8, #f28b82),
  /* error */
  error-text-color: #ff6d6d,
  error-background-color: #2a1a1a,
  error-box-shadow: 0 1px 3px rgba(255, 0, 0, 0.2),
  /* shadows */
  shadow-card: 0 1px 1px rgba(255, 255, 255, 0.04),
  shadow-header:0 1px 2px rgba(255, 255, 255, 0.05),
  shadow-hover: 0 8px 16px rgba(124, 118, 118, 0.12),
  hover-overlay: rgba(255, 255, 255, 0.08)
);
