/*Fonts */
$font-family-base: Roboto, "Helvetica Neue", sans-serif;
$font-size-sm: 1rem;
$font-size-sm-md: 1.25rem;
$font-size-md: 1.5rem;
$font-size-lg: 2.5rem;
$font-size-xl: 2.75rem;

/*Font weight*/
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-heavy: 700;

/* Colors */
$color-primary: #4e54c8;
$color-accent: #ffa751;
$color-yellow-accent: #ffe259;
$color-text: #333;
$color-bg-card: #fff;
$text-color-on-dark: #fff;

$color-placeholder-bg: #f5f7fa;

$color-modal-background: rgba(60, 40, 122, 0.85);


/*Color gradients*/
$color-accent-gradient: #8f94fb;
$text-color-on-gradient: #fff;
$footer-gradient: linear-gradient(90deg, $color-primary, $color-accent-gradient);
$yellow-accent-gradient: linear-gradient(
    90deg, $color-yellow-accent, $color-accent);
$placeholder-gradient: linear-gradient(
    110deg,
    transparent 60%,
    #e6eafd 80%,
    transparent 100%
);


/* Visual Feedback */
$color-hover-overlay: rgba(255, 255, 255, 0.2);
$shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.15);

/* Spacing */
$space-sm: 0.5rem;
$space-md-half: 0.75rem;
$space-md: 1rem;
$space-md-lg: 1.5rem;
$space-lg: 2rem;
$space-xl: 3rem;

/*Borders*/
$radius-sm: 2px;
$radius-md: 4px;

/*Width*/
$max-width-narrow: 600px;
$max-width-wide: 1200px;


/* Transitions */
$transition-bg-fast: background 0.3s;
$lift-on-hover: translateY(-4px);
$transition-hover: background-color 0.2s, box-shadow 0.2s;
$transition-opacity: opacity 0.5s;
$spinner-animation: spin 1s linear infinite;

$modal-fadein: fadeInModal 450ms ease-out forwards;
$card-placeholder-shimmer: shimmer 1.8s infinite;

/* Shadows*/
$shadow-header: 0 2px $radius-md rgba(0, 0, 0, 0.1);
$shadow-card: 0 2px 6px rgba(0, 0, 0, 0.1);
$shadow-placeholder: 0 2px 8px 0 rgba(60, 80, 180, 0.05);


/* Cards */
$card-game-icon-size: 130px;
$card-size: 150px;
$card-radius: 12px;
$border-playing-card: 2px solid transparent;
$card-transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
