@use 'variables' as *;
@use 'layout' as *;
@use 'components/card' as *;
@use 'components/spinner' as *;
@use 'themes' as *;

:root {
  @include theme($theme-light);
}

:root[data-theme="dark"] {
  //todo
  //filter: brightness(0.80); // adjust as needed
  img {
    filter: brightness(0.9) contrast(1.05);
  }

  transition: filter 0.3s ease;
  @include theme($theme-dark);

  button, .label, .choose-category-button {
    letter-spacing: 0.25px;
  }

  /*chips*/
  .mat-mdc-chip {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-text);
    font-weight: 500;
    letter-spacing: 0.25px;
    transition: all 0.2s ease;

    .mdc-evolution-chip__text-label {
      color: var(--color-text);
    }

    &:hover {
      background-color: var(--color-primary);
      color: #fff;
    }

    &.mat-mdc-chip-selected {
      background-color: var(--color-primary);
      color: #fff;
    }
  }

  /*paginator*/
  .mat-mdc-paginator {
    background-color: transparent;

    .mat-mdc-icon-button:not([aria-disabled]) svg,
    .mat-mdc-icon-button[aria-disabled="false"] svg {
      fill: var(--color-primary) !important;
    }

    .mat-mdc-button {
      background-color: var(--color-primary);
      color: #fff;

      &:hover {
        background-color: lighten($color-primary, 10%);
      }
    }
  }
}

/* 1. Base reset & 100% heights */
html, body, app-root {
  background-color: var(--color-bg-main);
  height: 100%;
  margin: 0;
}

/* 2. Make the root a column flex container */
app-root {
  @include column-flex;
}

/* 3. Let <app-home> take the remaining space */
app-home {
  @include column-flex(1);
}

body {
  font-family: $font-family-base;
}
