@use 'variables' as *;
@use 'layout' as *;
@use 'components/card' as *;
@use 'components/spinner' as *;
@use 'themes' as *;

:root {
  @include theme($theme-light);
}

[data-theme="dark"] {
  @include theme($theme-dark);
}

/* 1. Base reset & 100% heights */
html, body, app-root {
  height: 100%;
  margin: 0;
}

/* 2. Make the root a column flex container */
app-root {
  @include column-flex;
}

/* 3. Let <app-home> take the remaining space */
app-home {
  @include column-flex(1);
}

body {
  font-family: $font-family-base;
}
