<section class="age-categories">
  <button class="age-card"
          routerLink="kids"
          routerLinkActive="active">
    <div class="icon">🧒</div>
    <div class="label">Kids</div>
  </button>

  <button class="age-card">
    <div class="icon">🎓</div>
    <div class="label">Young Adults</div>
  </button>

  <button class="age-card">
    <div class="icon">👨</div>
    <div class="label">Adults</div>
  </button>

  <button class="age-card">
    <div class="icon">💼</div>
    <div class="label">Professionals</div>
  </button>
</section>
